# Web Scraping Assignment-2

In [54]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [19]:
driver=webdriver.Chrome()

In [20]:
driver.get("https://www.shine.com/")

In [22]:
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Analyst')

In [25]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [27]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [28]:
job_titles=[]
job_locations=[]
companies=[]
experiences=[]
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    l=i.text.strip()
    job_locations.append(l)
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    c=i.text.strip()
    companies.append(c)
exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags:
    e=i.text.strip()
    experiences.append(e)
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    t=i.text.strip()
    job_titles.append(t)
df=pd.DataFrame({'Job Title':job_titles[:10],'Location':job_locations[:10],'Company':companies[:10],'Experience required':experiences[:10]})
print(df)

                            Job Title        Location  \
0               Clinical Data Analyst   Bangalore\n+6
1                        Data Analyst   Bangalore\n+9
2             Hiring For Data Analyst  Bangalore\n+12
3                   Lead Data Analyst       Bangalore
4                        Data Analyst   Bangalore\n+3
5            Technical Data Architect       Bangalore
6              Data Science Architect   Bangalore\n+4
7                       Data Engineer       Bangalore
8             Clinical Data Associate   Bangalore\n+6
9  Part-Time Data Entry Operator work   Bangalore\n+9

                               Company Experience required
0                        techno endura           0 to 1 Yr
1             sahast sales corporation        12 to 22 Yrs
2                  radhika enterprises          0 to 4 Yrs
3        ara resources private limited          4 to 9 Yrs
4    diraa hr services hiring for mncs           0 to 1 Yr
5  uprighthc solutions private limited        10 to 20 Yrs
6                symphoni hr pvt. ltd.         8 to 10 Yrs
7                     spm hr solutions          4 to 6 Yrs
8                        techno endura           0 to 1 Yr
9                      aspect solution           0 to 1 Yr

In [29]:
driver.quit()

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [30]:
driver=webdriver.Chrome()

In [31]:
driver.get("https://www.naukri.com/")

In [34]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [35]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [36]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [44]:
job_titles=[]
job_locations=[]
companies=[]
experiences=[]
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    t=i.text.strip()
    job_titles.append(t)
locs_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in locs_tags:
    l=i.text.strip()
    job_locations.append(l)
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    c=i.text.strip()
    companies.append(c)
exp_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exp_tags:
    e=i.text.strip()
    experiences.append(e)
df=pd.DataFrame({'Job Title':job_titles[:10],'Location':job_locations[:10],'Company':companies[:10],'Experience Required':experiences[:10]})
print(df)

                                           Job Title  \
0                   Senior Data Scientist, Reporting
1                          Data Scientist, Marketing
2                                     Data Scientist
3                                  AI Data Scientist
4  Xoriant is hiring Senior Generative AI Engineer !
5                               GenAI Data Scientist
6                                Data Scientist HTHD
7                 Data Scientist (Analytic Engineer)
8                                     Data Scientist
9                Data Scientist @ Nttdata, Bangalore

                                            Location  \
0  Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...
1  Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...
2  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
3  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
4  Hybrid - Bangalore Rural, Karnataka, Pune, Mah...
5  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
6  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
7                                          Bengaluru
8                                          Bengaluru
9                         Bangalore Rural, Karnataka

                       Company Experience Required
0                     Coursera             6-7 Yrs
1                     Coursera             4-6 Yrs
2                         Ford             3-6 Yrs
3                         Ford             2-6 Yrs
4                      Xoriant            5-10 Yrs
5                         Ford             5-6 Yrs
6                         Ford             1-4 Yrs
7            Applied Materials            7-10 Yrs
8   Johnson and Johnson Kenvue             3-7 Yrs
9  NTT DATA BUSINESS SOLUTIONS             4-6 Yrs

In [45]:
driver.quit()

Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [46]:
driver=webdriver.Chrome()

In [47]:
driver.get("https://www.flipkart.com/")

In [48]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
designation.send_keys('sunglasses')

In [49]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button")
search.click()

In [60]:
brands=[]
prod_desc=[]
prices=[]
discounts=[]

In [61]:
start=0
end=3
for page in range(start,end):
    
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        b=i.text.strip()
        brands.append(b)
    
    prod_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod_tags:
        pds=i.text.strip()
        prod_desc.append(pds)
    
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        p=i.text.strip()
        prices.append(p)
    
    disc_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    for i in disc_tags:
        d=i.text.strip()
        discounts.append(d)
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [63]:
df=pd.DataFrame({'Brand':brands[:101],'Product Description':prod_desc[:101],'Price':prices[:101],'Discount':discounts[:101]})
print(df)

             Brand                                Product Description   Price  \
0           Hooper          UV Protection Rectangular Sunglasses (46)    ₹487
1       Ann Taylor                UV Protection Round Sunglasses (51)  ₹2,499
2    VINCENT CHASE  by Lenskart UV Protection Cat-eye Sunglasses (61)    ₹499
3           AISLIN  UV Protection, Gradient Butterfly, Retro Squar...    ₹580
4         elegante  UV Protection Retro Square Sunglasses (Free Size)    ₹314
..             ...                                                ...     ...
96            IDEE              Mirrored Round Sunglasses (Free Size)  ₹1,549
97        elegante   Polarized, UV Protection Aviator Sunglasses (58)    ₹349
98          AISLIN               UV Protection Shield Sunglasses (54)    ₹542
99          RINEZA                     Gradient Round Sunglasses (54)    ₹239
100        Ray-Ban             Polarized Retro Square Sunglasses (55)  ₹7,749

    Discount
0    75% off
1    75% off
2    75% off
3    73% off
4    79% off
..       ...
96   45% off
97   76% off
98   76% off
99   53% off
100  20% off

[101 rows x 4 columns]