# Selenium Evaluation Assignment

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi / NCR')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
salaryfilter=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
salaryfilter.click()

In [10]:
job_titles=[]
job_locations=[]
companies=[]
experiences=[]
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    t=i.text.strip()
    job_titles.append(t)
locs_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in locs_tags:
    l=i.text.strip()
    job_locations.append(l)
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    c=i.text.strip()
    companies.append(c)
exp_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exp_tags:
    e=i.text.strip()
    experiences.append(e)
df=pd.DataFrame({'Job Title':job_titles[:10],'Location':job_locations[:10],'Company':companies[:10],'Experience Required':experiences[:10]})
print(df)

                                Job Title  \
0                     Data Scientist HTHD
1                          Data Scientist
2                          Data Scientist
3                       Data Scientist II
4                     Lead Data Scientist
5                          Data Scientist
6  Lead Customer Success - Data Scientist
7                Fullstack Data Scientist
8                          Data Scientist
9                          Data Scientist

                                            Location               Company  \
0  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...                  Ford
1                        Mumbai, Hyderabad, Gurugram              Deloitte
2                                Gurugram, Bengaluru             Blackbuck
3                           Greater Noida, Bengaluru             Honeywell
4  Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...           Elitefit.ai
5  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...     Fort Technologies
6                                     Pune, Gurugram         ZS Associates
7                        Mumbai, Gurugram, Bengaluru  Course5 Intelligence
8                                              Noida            Innovaccer
9                                              Noida        Times Internet

  Experience Required
0             1-4 Yrs
1             3-6 Yrs
2             3-7 Yrs
3             3-6 Yrs
4             3-7 Yrs
5             1-3 Yrs
6             2-4 Yrs
7             3-6 Yrs
8             2-7 Yrs
9             3-8 Yrs

In [11]:
driver.quit()

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [12]:
driver=webdriver.Chrome()

In [13]:
driver.get("https://www.shine.com/")

In [14]:
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Scientist')

In [15]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [17]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [18]:
job_titles=[]
job_locations=[]
companies=[]
experiences=[]
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    l=i.text.strip()
    job_locations.append(l)
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    c=i.text.strip()
    companies.append(c)
exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags:
    e=i.text.strip()
    experiences.append(e)
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    t=i.text.strip()
    job_titles.append(t)
df=pd.DataFrame({'Job Title':job_titles[:10],'Location':job_locations[:10],'Company':companies[:10],'Experience required':experiences[:10]})
print(df)

                       Job Title        Location  \
0         Data Scientist Opening  Bangalore\n+15
1         Data Scientist Opening  Bangalore\n+15
2     Data Scientist Recruitment   Bangalore\n+9
3                 Data Scientist   Bangalore\n+8
4              ML Data Scientist   Bangalore\n+3
5  Data Scientist Urgent Vacancy  Bangalore\n+15
6                 Data Scientist   Bangalore\n+4
7     Data Scientist Recruitment  Bangalore\n+15
8     Data Scientist Recruitment  Bangalore\n+15
9        Clinical Data Associate   Bangalore\n+6

                                  Company Experience required
0                      renuka interprises          0 to 4 Yrs
1                      renuka interprises          0 to 4 Yrs
2                     radhika enterprises          0 to 4 Yrs
3                           techno endura          0 to 2 Yrs
4  gujarat facility services hiring fo...          5 to 8 Yrs
5                      renuka interprises          0 to 4 Yrs
6           acme services private limited          3 to 5 Yrs
7                      renuka interprises          0 to 4 Yrs
8                      renuka interprises          0 to 4 Yrs
9                           techno endura           0 to 1 Yr

In [19]:
driver.quit()

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [39]:
driver=webdriver.Chrome()

In [40]:
driver.get("https://www.flipkart.com/apple-iphone-11-white-128-gb/product-reviews/itme32df47ea6742?pid=MOBFWQ6B7KKRXDDS&lid=LSTMOBFWQ6B7KKRXDDSUPVRTR&marketplace=FLIPKART")

In [41]:
ratings=[]
review_sums=[]
reviews=[]

In [42]:
start=0
end=10
for page in range(start,end):
    
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rt=i.text.strip()
        ratings.append(rt)
    
    reviewsum_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in reviewsum_tags:
        rs=i.text.strip()
        review_sums.append(rs)
    
    review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review_tags:
        r=i.text.strip()
        reviews.append(r)
    
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(10)

In [43]:
df=pd.DataFrame({'Review summary':review_sums,'Rating':ratings,'Full Review':reviews})
print(df)

         Review summary Rating  \
0     Worth every penny      5
1   Best in the market!      5
2             Wonderful      5
3             Fabulous!      5
4              Terrific      5
..                  ...    ...
95               Super!      5
96            Fabulous!      5
97    Terrific purchase      5
98            Must buy!      5
99   Highly recommended      5

                                          Full Review
0   Feeling awesome after getting the delivery of ...
1                                         Good Camera
2                              This is amazing at all
3                     Super🔥 and good performance 👌❤️
4                                      Very very good
..                                                ...
95                        Good product 👌I love iPhone
96  It’s very good battery life and display and vi...
97                                 Value for money 🖤🖤
98  Go for iPhone 11 , if confused between iPhone ...
99  Awesome Battery Life...Camera clarity is too g...

[100 rows x 3 columns]

In [44]:
driver.quit()

Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
designation.send_keys('sneakers')

In [5]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button")
search.click()

In [6]:
brands=[]
prod_desc=[]
prices=[]

In [7]:
start=0
end=3
for page in range(start,end):
    
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        b=i.text.strip()
        brands.append(b)
    
    prod_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod_tags:
        pds=i.text.strip()
        prod_desc.append(pds)
    
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        p=i.text.strip()
        prices.append(p)
    
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [8]:
df=pd.DataFrame({'Brand':brands[:101],'Product Description':prod_desc[:101],'Price':prices[:101]})
print(df)

          Brand                                Product Description   Price
0      HOTSTYLE      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹294
1        BRUTON  Trending Stylish Casual Outdoor Shoes For Men ...    ₹499
2      URBANBOX                                 Sneakers For Women    ₹299
3     Deals4you  Casual Sneakers Shoes for Men | Soft Cushioned...    ₹439
4      RED TAPE                       Fire Run V1 Sneakers For Men  ₹1,179
..          ...                                                ...     ...
96       BRUTON  Sneakers For Mens/Sandals for mens Slip On Loa...  ₹1,308
97         ATOM              Canvas shoes for Men Sneakers For Men    ₹629
98   HIGHLANDER  Stylish Sneakers Shoes for Women And Girls Sne...  ₹1,408
99     BERSACHE                                   Sneakers For Men    ₹374
100        ATOM                     Shuffle Ultra Sneakers For Men    ₹549

[101 rows x 3 columns]

In [10]:
driver.quit()

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7”.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [66]:
driver=webdriver.Chrome()

In [67]:
driver.get("https://www.amazon.in/")

In [68]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
designation.send_keys('Laptops')

In [69]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [70]:
cpu_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[9]/li/span/a/div/label/i")
cpu_filter.click()

In [72]:
titles=[]
ratings=[]
prices=[]

title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags:
    t=i.text.strip()
    titles.append(t)
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags:
    p=i.text.strip()
    prices.append('Rs '+p)
rating_tags = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tags:
    r=i.get_attribute("innerHTML")
    ratings.append(r)

df=pd.DataFrame({'Title':titles[:11],'Rating':ratings[:11],'Price':prices[:11]})
print(df)

                                                Title              Rating  \
0   Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...  4.1 out of 5 stars
1   MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...  4.1 out of 5 stars
2   MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...  4.1 out of 5 stars
3   Acer Travelmate Business Laptop Intel Core i7-...  5.0 out of 5 stars
4   ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...  4.3 out of 5 stars
5   Lenovo Yoga Slim7 Carbon Intel Evo i7 1260P 13...  3.1 out of 5 stars
6   HP Pavilion X360 11th Gen Intel Core i7 14" (3...  3.9 out of 5 stars
7   ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...  3.9 out of 5 stars
8   HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...  3.3 out of 5 stars
9   HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  4.2 out of 5 stars
10  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...  4.1 out of 5 stars

          Price
0     Rs 69,990
1     Rs 62,990
2     Rs 49,990
3     Rs 49,990
4     Rs 49,990
5     Rs 74,990
6   Rs 1,19,990
7     Rs 66,990
8     Rs 59,990
9     Rs 62,490
10    Rs 77,990

In [73]:
driver.quit()

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on TopQuote
3. Then scrap a)Quote b) Author c) Type Of Quotes

In [31]:
driver=webdriver.Chrome()

In [32]:
driver.get("https://www.azquotes.com/")

In [33]:
destination=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
destination.click()

In [37]:
quotes=[]
authors=[]
types=[]
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags:
    q=i.text.strip()
    quotes.append(q)
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags:
    a=i.text.strip()
    authors.append(a)
type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_tags:
    t=i.text.strip()
    types.append(t)
df=pd.DataFrame({'Quote':quotes,'Author':authors,'Type of Quote':types})
print(df)

                                                Quote                Author  \
0   The essence of strategy is choosing what not t...        Michael Porter
1   One cannot and must not try to erase the past ...            Golda Meir
2   Patriotism means to stand by the country. It d...    Theodore Roosevelt
3   Death is something inevitable. When a man has ...        Nelson Mandela
4   You have to love a nation that celebrates its ...          Erma Bombeck
..                                                ...                   ...
95     When the going gets weird, the weird turn pro.    Hunter S. Thompson
96  When a train goes through a tunnel and it gets...       Corrie Ten Boom
97  If you think you are too small to make a diffe...            Dalai Lama
98  God doesn't require us to succeed, he only req...         Mother Teresa
99    Change your thoughts and you change your world.  Norman Vincent Peale

                               Type of Quote
0   Essence, Deep Thought, Transcendentalism
1                  Inspiration, Past, Trying
2                        Country, Peace, War
3         Inspirational, Motivational, Death
4               4th Of July, Food, Patriotic
..                                       ...
95                    Music, Sports, Hunting
96             Trust, Encouraging, Uplifting
97              Inspirational, Funny, Change
98                      Success, God, Mother
99       Inspirational, Motivational, Change

[100 rows x 3 columns]

In [38]:
driver.quit()